/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Reset all values */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1547801.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Comic Neue', cursive;
  font-size: .9rem;
  line-height: 1.25rem;
  padding-bottom: 20px;
}

/* Flex setup
*  Setting all values that need flex here as most components require it
*/

h2, main, div, section, form {
  display: flex;
  flex-flow: column nowrap;
}

/* Generic classes for styling */

.center-text {
  text-align: center;
}

.correct {
  background-color: rgb(133, 224, 133);
}

.incorrect {
  background-color: rgb(228, 135, 135);
}

/* Title and box styling */

h1 {
  padding: 10px 0;
  font-size: 1.4rem;
  margin: .4rem auto;
  width: 90%;
  text-align: center;
  background-color: rgba(230, 230, 230, .9);
  border-radius: 2rem;
  border: rgba(11, 11, 11, .95) solid 3px;
}

main {
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: fit-content;
  border-radius: 2rem;
  background-color: rgba(230, 230, 230, .95);
  border: rgba(11, 11, 11, .95) solid 3px;
}

/* Inner Main elements styling */

/* Inner container to hold all elements */
.js-main-screen {
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

.js-results-text {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
}

#js-answer-form {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

/* Answers Correct text */

#js-answer-form > h3 {
  position: absolute;
  font-size: .9rem;
  left: 0;
  bottom: 15px;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: 15px auto;
  width: 100%;
  height: 80%;
}

h3 {
  font-size: 1rem;
  text-align: right;
}

button {
  padding: 5px 10px;
  min-width: 100px;
  height: 40px;
  border: none;
  border-radius: 2rem;
  background-color: darksalmon;
  align-self: flex-end;
  font-size: 1.2rem;
}

/* Question box */

.js-question-box {
  height: fit-content;
  padding: 0 10px;
}

.js-answer-eval {
  display: inline-block;
  padding: 15px;
  margin: 10px auto 20px auto;
  width: 100%;
  border-radius: 2rem;
}

/* input fields, contains radio buttons and labels */
.input-container {
  flex-direction: row;
  width: 100%;
  padding: 3px 10px;
  margin: 2px auto;
  border-radius: 10px;
}

input {
  margin-right: 15px;
  align-self: center;
}

label {
  width: 100%;
  font-size: 1rem;
}

/* Submit and continue button formatting */

.js-answer-button, .js-continue-button {
  position: absolute;
  bottom: 15px;
  right: 0;
}

/* Start/End Button formatting */

.js-end-button, .js-start-button {
  height: 60px;
  margin: 20px auto;
  align-self: center;
}

.js-end-button {
  padding: 10px 20px;
}

@media screen and (min-width: 750px) {
  main, h1 {
    width: 670px;
  }
}

@media only screen and (min-width: 768px) {
  
  body, h3, .js-results-text {
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .js-main-screen {
    padding: 0 30px;
  }

  .js-answer-eval {
    margin: 25px auto;
    padding: 20px 30px;
    line-height: 1.75rem;
  }

  .js-results-text {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  #js-answer-form {
    padding-bottom: 75px;
  }

  #js-answer-form > h3 {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2rem;
    padding: 20px 0;
    margin: 20px auto;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 2.25rem;
  }

  label {
    font-size: 1.25rem;
  }

  
  button {
    padding: 5px 10px;
    min-width: 200px;  
    height: 60px;
    align-self: flex-end;
    font-size: 2rem;
  }



}

@media only screen and (min-width: 1024px) {

}