/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Reset all values */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1547801.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Comic Neue', cursive;
  font-size: .8rem;
  line-height: .95rem;
}

/* Flex setup
*  Setting all values that need flex here as most components require it
*/

h2, main, div, section, form {
  display: flex;
  flex-flow: column nowrap;
}

/* Title and box styling */

h1 {
  padding: 10px 0;
  font-size: 1.25rem;
  margin: 1rem auto;
  width: 90%;
  text-align: center;
  background-color: lightgray;
  border-radius: 2rem;
  border: black solid 3px;
}

main {
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: fit-content;
  padding-bottom: 40px;
  border-radius: 2rem;
  background: lightgray;
  border: black solid 3px;
}

/* Inner Main elements styling */

/* Inner container to hold all elements */
.js-main-screen {
  width: 90%;
  height: 100%;
}

.js-results-text {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
}

#js-answer-form {
  height: 100%;
  position: relative;
}

/* Answers Correct text */

#js-answer-form > h3 {
  position: absolute;
  left: 0;
  bottom: -30px;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  margin: 15px auto;
  width: 100%;
  height: 80%;
}

h3 {
  font-size: .9rem;
  text-align: right;
}

button {
  padding: 5px 10px;
  min-width: 100px;
  height: 40px;
  border: none;
  border-radius: 2rem;
  background-color: darksalmon;
  align-self: flex-end;
}

/* Question box */

.js-question-box {
  height: fit-content;
}

.js-answer-eval {
  display: inline-block;
  padding: 15px;
  margin: 20px auto;
  width: 100%;
  border-radius: 2rem;
}

/* input fields, contains radio buttons and labels */
.input-container {
  flex-direction: row;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
}

input {
  margin: 5px;
  margin-right: 15px;
}

label {
  width: 100%;
  line-height: 1.25rem;
}

/* Submit and continue button formatting */

.js-answer-button, .js-continue-button {
  position: absolute;
  bottom: -30px;
  right: 0;
}

/* Start/End Button formatting */

.js-end-button, .js-start-button {
  height: 60px;
  margin: 20px auto;
  align-self: center;
}

/* colors for correct/incorrect */

.correct {
  background-color: rgb(133, 224, 133);
}

.incorrect {
  background-color: rgb(228, 135, 135);
}